<%= provide(:title, "Sign up for Buuktreid") %>
<%= render 'shared/header' %>
<main class="main">
  <div class="main__inner">
    <h1>Sign up</h1>
    <h2>Create an account</h2>
  </div>
</main>
<%= render 'shared/footer' %>
