<header class="header">
  <div class="header__inner">
    <a class="brand-logo" href="/">Buuktreid</a>
    <nav class="nav">
      <div class="nav__item">
        <%= link_to "Log in", '#' %>
      </div>
      <div class="nav__item">
        <%= link_to "Sign up", signup_path, class: "button button--primary" %>
      </div>
    </nav>
  </div>
</header>
