<%= render 'shared/header' %>
<main class="main">
  <div class="main__inner">
    <div class="tagline">
      <h1 class="h1">Buuktreid</h1>
      <h2 class="h2">A friendly marketplace for book lovers.</h1>
    </div>
  </div>
</main>
<%= render 'shared/footer' %>
