<header class="header">
  <div class="header__inner">
    <a class="brand-logo" href="/">Buuktreid</a>
    <nav class="nav">
      <div class="nav__item">
        <%= link_to "Log in", '#' %>
      </div>
      <div class="nav__item">
        <%= link_to "Sign up", '#', class: "button button--primary" %>
      </div>
    </nav>
  </div>
</header>

<main class="main">
  <div class="main__inner">
    <div class="tagline">
      <h1 class="h1">Buuktreid</h1>
      <h2 class="h2">A friendly marketplace for book lovers.</h1>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="footer__inner">2017. Buuktreid.</div>
</footer>
