<li class="list__item">
  <div class="book">
    <div class="book__title"><%= book.title %></div>
    <div class="book__author"><%= book.author %></div>
    <div class="book__sub-info">
      <div class="book__cover"></div>
      <div class="book__extra-info">
        <div class="book__description"><%= book.description %></div>
        <div class="book__action">
          <button class="button button--small button--secondary">trade</button>
        </div>
      </div>
    </div>
  </div>
</li>
