<% if @search_results %>
  <% @search_results.each do |result| %>
    <li class="list__item">
      <div class="search-book">
        <div class="search-book__cover" style=<%= "background-image:url(" + result['cover_image_link'] + ")" %>></div>
        <div class="search-book__info">
          <div class="search-book__title"><%= result['title'] %></div>
          <div class="search-book__author"><%= result['author'] %></div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
